---

- name:         Check if FAH is already installed
  command:      "rpm -qi fahclient"
  args:
    warn: false
  register:     fahclient_installed
  failed_when:  false
  changed_when: false

- name:     Check if FAH is up to date
  command:  "FAHClient --version | tail -1"
  register: fahclient_version
  when:     fahclient_installed.rc == 0

- name: Set FAH update as fact if needed
  set_fact:
    fah_to_update: "{{ fahclient_version.stdout }} != {{ fah_version }}"

- name: Install procps dependency (needed by init script)
  yum:
    name:  procps
    state: present

- name:        Install fahclient
  yum:
    name:
      - "{{ folding_at_home_fahclient_url[ansible_os_family] }}"
      - "{{ folding_at_home_fahcontrol_url[ansible_os_family] }}"
      - "{{ folding_at_home_fahviewer_url[ansible_os_family] }}"
    state: present
  become:      true
  become_user: root
  when:        fahclient_installed.rc == 1 or fah_to_update
